* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.grid {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.grid > div {
  background-color: bisque;
}

.grid > div:hover {
  cursor: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/U%2B25CC.svg/120px-U%2B25CC.svg.png")
      50 50,
    auto;
}
