* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.grid {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.grid > div {
  background-color: bisque;
}

.grid > div:hover {
  cursor: url("close-custom.png") 64 64, auto;
  /*cursor: url("circle-outline-custom.png") 64 64, auto;*/
}
