* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 450px 1fr 400px;
}

header,
footer {
  grid-column: 1 / -1;
  min-height: 100px;
  background-color: cornsilk;
}

h1 {
  text-align: center;
}

aside {
  text-align: center;
  padding-top: 20px;
}

aside img {
  vertical-align: middle;
}

aside input {
  width: 120px;
  padding: 8px;
  background-color: beige;
}

.grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  align-content: center;
  display: inline-grid;
}

.grid > div {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}
